You know, it's around the time that everyone my year starts to think about college...
It's a really turbulent time for education.
We're at the height of this modern expectation that everyone has to go to college, you know?
Finish high school, go to college, get a job - or go to grad school, I guess.
It's like a universal expectation that people just assume is the only option for them.
They don't teach us in high school that there are other options out there.
Like trade schools and stuff, you know?
Or freelance work.
Or the many industries that value skill and experience more than formal education.
But you have all these students who have no idea what they want to do with their life...
And instead of taking the time to figure it out, they go to college for business, or communication, or psychology.
Not because they have an interest in those fields...
...but because they just hope the degree will get them some kind of job after college.
So the end result is that there are fewer jobs to go around for those entry-level degrees, right?
So the basic job requirements get higher, which forces even more people to go to college.
And colleges are also businesses, so they just keep raising their prices due to the demand...
...So now we have all these young adults, tens of thousands of dollars in debt, with no job.
But despite all that, the routine stays the same.
Well, I think it's going to start getting better soon.
But until then, our generation is definitely suffering from the worst of it.
I just wish high school prepared us a little better with the knowledge we need to make the decision that's right for us.